.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.bg__video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: url('/video/mask__pattern.png') repeat center;
}
.hero__wrap {
  position: relative;
}
.nav__wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.logo__wrap {
  padding: 30px;
  max-width: 450px;

}
.logo {
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 24px;
  padding: 20px;
  color: #162B35;
  z-index: 100;
  text-align: center;
}
.logo span {
  font-size: 20px;
  line-height: 22px;
  margin-left: 2px;
}
.since {
  font-size: 16px !important;
  line-height: 16px !important;
  color: #162B35;
}
.content__wrap {
  display: block;
}
.content {
  position: absolute;
  bottom: 0;
  padding: 50px;
  left: 47%;
  z-index: 100;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 340px;
}
.content h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  letter-spacing: 3px;

  font-size: 56px;
  line-height: 80px;
  color: #162B35;
  text-shadow: 5px 5px 20px #FFF;
}
.content h3:nth-child(1) {
  left: -139px;
  position: relative;
}
.content h3:nth-child(3) {
  right: -253px;
  position: relative;
}

.form_button {
  display: flex;
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  width: 200px;
  height: 50px;
  z-index: 100;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: rgba(0,0,0,.3);
  cursor: pointer;
}
.form_button:hover {
  opacity: .7;
  transition: .3s ease-in-out;
}
.contact {
  position: absolute;
  right: 0;
  bottom: 50px;
  padding-right: 50px;
  color: #FFF;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  z-index: 1000000;
}
.twitter {
  display: flex;
  align-items: center;
}
.icon__wrap {
  margin-right: 10px;
  margin-top: 30px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .7);
  z-index: 10000;
}
.closed {
  opacity: 0;
  visibility: hidden;
  height: 0;
  top: 0;
  position: absolute;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}
.input__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input__wrap p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 26px;
  margin-right: 10px;
  color: #FFF;
}
.input__wrap input {
  border: 0;
  border-radius: 0;
  height: 30px;
  opacity: .5;
  width: 400px;
}

.email {
  display: flex;
  align-items: center;
}
.email span:last-of-type {
  margin-left: 10px;
}

.contact__wrap {
  display: flex;
  color: #FFF;
  position: relative;
  z-index: 100000;
  margin-right: 50px;
}
.qr__code {
  position: absolute;
  width: 120px;
  right: 50px;
  bottom: 50px;
}
.icon__wrap svg {
  width: 32px;
  color: #FFF;
  cursor: pointer;
}
.icon__wrap svg path{
  fill: #FFF;
}
.icon__wrap svg:hover path {
  fill: rgba(0,0,0,.7);
  transition: .3s;
}


@media (max-width: 940px) {
  .content {
    left: 50%;
  }
  .content h3:nth-child(1){
    left: unset;
  }
  .content h3:nth-child(3){
    right: unset;
  }
  .qr__code {
    left: 50%;
    right: unset;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .content h3 {
    font-size: 30px;
    line-height: 45px;
  }
  .nav__wrap {
    display: block;
  }
  .logo__wrap {
    max-width: 100%;
  }
  .qr__code {
    z-index: 100000;
    bottom: 100px;
  }
  .contact__wrap {
    display: flex;
    color: #FFF;
    position: fixed;
    z-index: 100000;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-height: 400px) {
  .content {
    height: 100px;
    padding: 0;
  }
  .content h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .qr__code {
    width: 60px;
    bottom: 60px;
  }
  .contact__wrap {
    bottom: 0;
  }
  .icon__wrap svg {
    width: 24px;
  }
}