.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.bg__video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: url('/video/mask__pattern.png') repeat center;
}
.hero__wrap {
  position: relative;
}
.nav__wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.logo__wrap {
  background: rgba(0,0,0,.3);
  padding: 30px;
  max-width: 300px;

}
.logo {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 56px;
  line-height: 24px;
  padding: 20px;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 100;
}
.logo span {
  font-size: 20px;
  line-height: 22px;
  margin-left: 2px;
}
.content__wrap {
  display: block;
}
.content {
  position: absolute;
  bottom: 0;
  padding: 50px;
  z-index: 100;
}
.content h3 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 96px;
  line-height: 110px;
  font-weight: 800;
  background: #44A08D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f8070, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2f8070, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.form_button {
  display: flex;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  width: 200px;
  height: 50px;
  z-index: 100;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: rgba(0,0,0,.3);
  cursor: pointer;
}
.form_button:hover {
  opacity: .7;
  transition: .3s ease-in-out;
}
.contact {
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 100;
  padding-right: 50px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}
.twitter {
  display: flex;
  align-items: center;
}
.icon__wrap {
  margin-right: 10px;
}